<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-dark text-white">
      <h1 class="h4 mb-0">{{pageTitle}}</h1>
    </div>
    <div class="card-body mx-5 my-5">
      <form novalidate (ngSubmit)=saveCliente() [formGroup]="clienteForm">
        <div class="form-group row">
          <label for="nome" class="col-md-3 col-form-label">Nome:</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="nome" placeholder="Digite seu nome" formControlName="nome">
          </div>
        </div>
        <div class="form-group row">
          <label for="cpf" class="col-md-3 col-form-label">CPF:</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="cpf" placeholder="Digite seu CPF" formControlName="cpf">
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-md-3 col-form-label">E-mail:</label>
          <div class="col-md-9">
            <input type="email" class="form-control" id="email" placeholder="Digite seu e-mail" formControlname="email">
          </div>
        </div>
        <div class="form-group row">
          <label for="telefone" class="col-md-3 col-form-label">Telefone:</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="telefone" placeholder="Digite seu telefone" formControlName="telefone">
          </div>
        </div>
        <div class="form-group row mb-2">
          <div class="offset-md-6 mt-5">
            <div class="container">
              <button
              type="button"
              class="btn btn-secondary"
              [routerLink]="['/clientes']"
              >
              Cancelar
            </button>
              <button
              type="submit"
              class="btn btn-primary"
              [title]="clienteForm.valid ? '': 'Preencha todos os campos'"
              >
              Salvar
            </button>
            <!-- <button
            type="button"
            class="btn btn-danger"
            (click)="deleteCliente()"
            >
            Excluir
          </button> -->
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div> 